.mediaViewInfo {
	--web-view-name: Student - Badges;
	--web-view-id: Student_-_Badges;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Student_-_Badges;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Student_-_Badges {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Student - Badges;
	--web-view-id: Student_-_Badges;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes  {


}
#Path_1 {
	fill: rgba(0,0,0,0.039);
}
.Path_1 {
	overflow: visible;
	position: absolute;
	width: 1922px;
	height: 74.99px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#EDUGAMETYPOLOGO {
	position: absolute;
	width: 328px;
	height: 41px;
	left: 38px;
	top: 11px;
	overflow: visible;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: educator profile.html;
	cursor: pointer;
}
#Juan_Dela_Cruz {
	left: 343px;
	top: 75px;
	position: absolute;
	overflow: visible;
	width: 658px;
	white-space: nowrap;
	text-align: left;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 90px;
	color: rgba(100,33,177,1);
}
#Dummygmailcom {
	left: 343px;
	top: 184px;
	position: absolute;
	overflow: visible;
	width: 391px;
	white-space: nowrap;
	text-align: left;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(100,33,177,1);
}
#n_234567534 {
	left: 343px;
	top: 233px;
	position: absolute;
	overflow: visible;
	width: 225px;
	white-space: nowrap;
	text-align: left;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(100,33,177,1);
}
#Badges {
	left: 851px;
	top: 272px;
	position: absolute;
	overflow: visible;
	width: 219px;
	white-space: nowrap;
	text-align: left;
	font-family: Century Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(100,33,177,1);
}
#profile {
	position: absolute;
	width: 294px;
	height: 237px;
	left: 36px;
	top: 92px;
	overflow: visible;
}
#Rectangle_117 {
	opacity: 0.02;
	fill: rgba(0,0,0,1);
}
.Rectangle_117 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 714px;
	left: 0px;
	top: 366px;
}
#Ellipse_21 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_21 {
	position: absolute;
	overflow: visible;
	width: 401px;
	height: 376px;
	left: 760px;
	top: 399px;
}
#Polygon_1 {
	fill: rgba(93,255,0,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Polygon_1 {
	overflow: visible;
	position: absolute;
	width: 92px;
	height: 81px;
	transform: matrix(1,0,0,1,62.2966,706) rotate(269deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Polygon_2 {
	fill: rgba(93,255,0,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Polygon_2 {
	overflow: visible;
	position: absolute;
	width: 92px;
	height: 81px;
	transform: matrix(1,0,0,1,1767.9069,715) rotate(90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Ellipse_56 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_56 {
	position: absolute;
	overflow: visible;
	width: 401px;
	height: 376px;
	left: 1261px;
	top: 629px;
}
#Ellipse_57 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_57 {
	position: absolute;
	overflow: visible;
	width: 401px;
	height: 376px;
	left: 259px;
	top: 614px;
}